{% extends "initial/Base.html" %}

{% block title %}LMS | Welcome!{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="bg-slate-800 text-white py-20 min-h-screen">
  <div class="container mx-auto mt-24 text-center">
    <h1 class="text-6xl font-light mb-4">Welcome to Our Platform</h1>
    <p class="text-lg mb-6">Empower your growth with our top-notch tools and resources.</p>
    <a href="#" class="bg-white text-slate-800 px-6 py-3 rounded font-semibold hover:bg-slate-600 hover:text-white">Get
      Started</a>
  </div>
</section>


{% endblock %}