<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>{% block title %}Home | My Django Site{% endblock %}</title>
</head>
<body>
    {% include "teacher/components/Navbar.html" %}

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main> 

    <!-- Footer -->
    {% include "teacher/components/Footer.html" %}
</body>
</html>