{% extends "teacher/base.html" %}

{% block title %}LMS | Welcome!{% endblock %}

{% block content %}
<!-- Dashboard Page -->
<div class="bg-slate-100 min-h-screen p-6">
  <div class="container mx-auto">
    <h1 class="text-5xl font-light text-center text-slate-800 my-5">Welcome! {{ request.session.user_name|default:"User" }}</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
      <a href="{% url 'teacher_profile' instructor_id=instructor.id %}" class="bg-amber-200 p-6 py-20 rounded shadow hover:bg-amber-400 hover:scale-105 transition">
        <h2 class="text-xl font-semibold text-slate-800">Profile</h2>
        <p class="text-slate-600">Visit your profile, View details.</p>
      </a>
      <a href="{% url 'teacher_classes' %}" class="bg-sky-300 p-6 py-20 rounded shadow hover:bg-sky-400 hover:scale-105 transition">
        <h2 class="text-xl font-semibold text-slate-800">Grading System</h2>
        <p class="text-slate-600">Input and view student grades for assessments.</p>
      </a>
      <a href="{% url 'teacher_class_schedule' %}" class="bg-rose-300 p-6 py-20 rounded shadow hover:bg-rose-400 hover:scale-105 transition">
        <h2 class="text-xl font-semibold text-slate-800">Timetable Management</h2>
        <p class="text-slate-600">Create and update class schedules with conflict resolution.</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}
