{% extends "teacher/base.html" %}

{% block content %}
<!-- Student Class Schedule Page -->
<div class="min-h-screen bg-slate-100 p-6">
    <div class="container mx-auto max-w-4xl bg-white p-8 px-16 rounded shadow">
      <h2 class="text-3xl font-semibold text-center text-slate-800 mb-1">Class Schedule</h2>
      <p class="text-slate-600 text-center mb-6">*Class schedule of all currently enrolled courses</p>
      
      <!-- Table -->
      <div class="overflow-x-auto">
        <table class="min-w-full table-auto bg-white border border-collapse border-slate-700 rounded">
          <thead>
            <tr class="bg-slate-800 text-white">
              <th class="px-4 py-2 border border-slate-100 text-left">Class ID</th>
              <th class="px-4 py-2 border border-slate-100">Course Name</th>
              <th class="px-4 py-2 border border-slate-100">Time Slot</th>
              <th class="px-4 py-2 border border-slate-100">Day</th>
              <th class="px-4 py-2 border border-slate-100">Semester</th>
            </tr>
          </thead>
          <tbody>
            {% for class_info in schedule %}
<tr class="border-t border-slate-700">
  <td class="px-4 py-2 border border-slate-700 text-slate-700">{{ class_info.class_id }}</td>
  <td class="px-4 py-2 border border-slate-700 text-center text-slate-700">{{ class_info.course_name }}</td>
  <td class="px-4 py-2 border border-slate-700 text-center text-slate-700">{{ class_info.time_slot }}</td>
  <td class="px-4 py-2 border border-slate-700 text-center text-slate-700">{{ class_info.day }}</td>
  <td class="px-4 py-2 border border-slate-700 text-center text-slate-700">{{ class_info.semester }}</td>
</tr>
{% empty %}
<tr>
  <td colspan="5" class="text-center px-4 py-2 text-slate-700">No classes scheduled yet.</td>
</tr>
{% endfor %}

          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
