{% extends "admin_panel/base.html" %}

{% block content %}

<!-- Student Admission Page -->
<div class="bg-slate-100 min-h-screen p-6">
    <div class="container mx-auto max-w-lg">
      <h2 class="text-4xl text-center  text-slate-800 mb-4">Student Admission</h2>
      <form action="{% url 'admin_add_student' %}" method="POST" class="bg-white p-6 rounded shadow">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-slate-700">Full Name</label>
            <input type="text" name="full_name" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-slate-600" />
        </div>
        <div class="mb-4">
            <label class="block text-slate-700">Father's Name</label>
            <input type="text" name="father_name" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-slate-600" />
        </div>
        <div class="mb-4">
            <label class="block text-slate-700">Email Address</label>
            <input type="email" name="email" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-slate-600" />
        </div>
        <div class="mb-4">
            <label class="block text-slate-700">Password</label>
            <input type="password" name="password" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-slate-600" />
        </div>
        <div class="mb-4">
            <label class="block text-slate-700">Date of Birth</label>
            <input type="date" name="date_of_birth" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-slate-600" />
        </div>
        <div class="mb-4">
            <label class="block text-slate-700">Date of Enrollment</label>
            <input type="date" name="date_of_enrollment" class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-slate-600" />
        </div>
        <button type="submit" class="w-full bg-slate-800 text-white px-4 py-2 rounded hover:bg-slate-700">Submit</button>
    </form>
    
    </div>
  </div>

{% endblock %}